.right {
    height: 100vh;
    margin-left: 250px;
    background-color: rgb(52, 53, 65);
}

.main{
    float: left;
    width: 100%;
    height: 834px;
}

.switch{
    width: 145.14px;
    height: 44px;
    padding: 8px 12px;
    border-radius: 10px;
    margin: 5px 10px;
}

.gpt{
    float: left;
    width: 101.14px;
    height: 28px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.gpt_text{
    color: #c5c5d2;
}

.drop-down{
    width: 16px;
    height: 17px;
    margin-top: 3px;
    margin-left: 3px;
}

.switch:hover{
    cursor: pointer;
    background-color: rgb(46,48,59);
}

.main_ic{
    width: 72px;
    height: 72px;
    margin-top: 300px;
    margin-left: 795px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(./imgs/ChatGPT-Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main_text{
    float: left;
    margin-left: 700px;
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.Collapse{
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(./imgs/竖线.png);
    &:hover{
        background-image: url(./imgs/左箭头.png);
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .2s;
}

.footer{
    float: left;
    width: 100%;
    height: 86px;
    padding: 0px;
}

.input{
    float: left;
    width: 768px;
    height: 54px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: transparent;
    margin-left: 475px;
}

#text{
    float: left;
    resize: none;
    width: 718px;
    height: 52px;
    padding: 14px 0px 14px 16px;
    background: transparent;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-family: 'Microsoft YaHei UI';
}

.send{
    float: right;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-top: 11px;
    margin-right: 10px;
    background-image: url(./imgs/上箭头.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: rgb(73,74,84);
    border-radius: 8px;
    border: 1px solid rgb(73, 74, 84);
    &:hover{
        background-color: rgb(52, 53, 65);
    }
    transition: all .3s;
}

.statement{
    float: left;
    width: 1111px;
    height: 32px;
    padding: 8px 60px;
    margin-left: 17.5%;
}

.statement span{
    margin-left: 30%;
}

.support{
    float: right;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    background-color: rgb(72,73,83);
    border-radius: 50%;
    border: 1px solid rgb(90,91,101);
    background-image: url(./imgs/问号.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}